<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~
  ~ Headwind MDM: Open Source Android MDM Software
  ~ https://h-mdm.com
  ~
  ~ Copyright (C) 2019 Headwind Solutions LLC (http://h-sms.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdm.plugins.knox.persistence.mapper.RuleMapper">

    <select id="findAllRules"
            parameterType="com.hmdm.plugins.knox.rest.json.RuleFilter"
            resultType="Rule">
        SELECT rules.*, c.customerId
        FROM plugin_knox_rules rules
        LEFT JOIN configurations c ON rules.configurationId=c.id
        WHERE c.customerId = #{customerId}
        AND c.id = #{configurationFilter}
        <if test="patternFilter != null">
            AND (
            rules.rule ILIKE #{patternFilter}
            )
        </if>
        <if test="tableTypeFilter != null">
            AND (
            rules.tableType = #{tableTypeFilter}
            )
        </if>
        <if test="ruleTypeFilter != null">
            AND (
            rules.ruleType = #{ruleTypeFilter}
            )
        </if>
        ORDER BY id DESC
        OFFSET (#{pageNum} - 1) * #{pageSize}
        LIMIT #{pageSize}
    </select>

    <select id="countAll"
            parameterType="com.hmdm.plugins.knox.rest.json.RuleFilter"
            resultType="long">
        SELECT COUNT(rules.*) AS counter
        FROM plugin_knox_rules rules
        LEFT JOIN configurations c ON rules.configurationId=c.id
        WHERE c.customerId = #{customerId}
        AND c.id = #{configurationFilter}
        <if test="patternFilter != null">
            AND (
            rules.rule ILIKE #{patternFilter}
            )
        </if>
        <if test="tableTypeFilter != null">
            AND (
            rules.tableType = #{tableTypeFilter}
            )
        </if>
        <if test="ruleTypeFilter != null">
            AND (
            rules.ruleType = #{ruleTypeFilter}
            )
        </if>
    </select>


</mapper>